<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lumen/bootstrap.css">
    <style>
      div {
   
        margin-top: 20px; margin-left: 20px;

      }

      form {
        margin-top: 20px; margin-left: 20px;
      }

      .float-container {

    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
  
} 
      </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 justify-content-end">
        <a class="navbar-brand" href="/">Collab</a>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link " href="/owned-projects">My Projects</a></li>
          <li class="nav-item"><a class="nav-link" href="/projects">Find Projects</a></li>
          <li class="nav-item"> <a class="nav-link" href="/profile">Profile</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/preferences">Preferences</a> </li>
        </ul>
        <ul class="navbar-nav ml-auto">

        
        <form method="POST" action="/logout" > <button  class="btn btn-dark ml-auto mr-1" >Logout</button> </form> 
      </ul >
      </nav>

    <h1> Collab </h1>
    {% for msg in get_flashed_messages()%}
<h4 class="error"> {{msg}} </h4>

{%endfor%}
    {% block content %} {% endblock %}
</body>
</html>