{% extends 'base.html'%}

{% block title %} Projects {%endblock%}

{% block content %} 


<form  method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field(class_="form-control") }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit" class="btn btn-primary">Find Projects</button>
  </form>

{%for project in projects%}

<div class="card" style="width: 18rem; margin-top: 20px; margin-left: 20px;">
  <div class="card-body">
    <h5 class="card-title">{{project.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{project.sector.name}}</h6>
    <p class="card-text">{{project.description}}</p>
    <a href="/projects/{{project.id}}" class="card-link">Show</a>
  </div>
</div>

{%endfor%}
<div class="row">
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Add Project</h5>
      <p class="card-text">Add the projects you want contributers wants to see.</p>
      <a href="/users/{{username}}/projects/add" class="btn btn-primary"> Add</a>
    </div>
  </div>
</div>
</div>


{% endblock %}